language: php

matrix:
    include:
        - php: 7.1
          env: DEPENDENCIES='lowest'
        - php: 7.2

install:
    - if [ "$DEPENDENCIES" != "lowest" ]; then composer update; fi;
    - if [ "$DEPENDENCIES" == "lowest" ]; then composer update --prefer-lowest; fi;

script:
  - php bin/phpunit
  - php bin/phpcs --colors --standard=PSR2 Parser/ Statement/ Tests/

after_script:
  - php bin/coveralls -v
